* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}

body {
    line-height: 1.6;
    background: #C9A66B;
    margin: 0;
}

header {
    padding: 20px;
    text-align: center;
    background: #6b4545;
}

.titulo-principal {
    font-family: "Palatino Linotype", serif;
}

.capa {
    width: 450px;
    height: 250px; 
    object-fit: cover;
}

.catalogo {
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.cadastro {
    padding: 20px;
    display: flex;
    gap: 10px;
}

input[type="radio"] {
    display: none;
}

label {
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

.abas {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: -10px;
}

.aba {
    padding: 8px 8px;
    cursor: pointer;
    border-radius: 8px;
    background: #F5E6D3;
    display: inline-block;
}

.capa-livro {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
   padding: 15px;
}

.livro {
    background: white;
    border-radius: 10px;
    display: flex;
    width: 500px;
    height: 250px;
    text-align: justify;
    padding: 10px;
    gap: 15px;
}

.conteudo {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.resumo {
    text-align: justify;
    line-height: 1.4;
    word-wrap: break-word;
}

.acoes {
    margin-top: auto;
}

.btn-excluir {
    justify-content: space-between;
    width: 50px;
    border-radius: 5px;
    border-color: #ebe5df;
    margin-bottom: 10px;
}

.btn-salvar, .btn-cancelar {
    justify-content: space-between;
    width: 80px;
}

button {
    cursor: pointer;
}    

.formulario {
    background: white;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    margin: 40px auto;
}

.cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.campo {
    padding: 10px;
}

#formulario {
    display: none;
}

#aba-formulario:checked ~ #formulario {
    display: block;
}

#aba-formulario:checked ~ #catalogo {
    display: none;
}

textarea {
    width: 100%;
    padding: 8px;
    resize: none
}

input {
    width: 100%;
    padding: 3px;
}

.rodape{
    display: flex;
    justify-content: center;
    padding: 10px;
    background: #f1d4d4;
}

.direitos {
    text-align: center;
}